* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 2px solid #9453a6;
}

.navbar {
    background-color: #f2cc0f !important;
}

#imgLogo {
    width: 80px;
}

.navbar ul li a {
    font-size: 1.5em;
    font-family: 'Pattaya';
}

#Abouttitle h1 {
    position: relative;
    padding: 0;
    margin: 15px 0px 0px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 4vw;
    color: #0d0d0d;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 5px;
    border: none;
    background-color: #fff;
}

#Abouttitle h1:before {
    width: 30px;
    height: 5px;
    display: block;
    content: "";
    position: absolute;
    bottom: 3px;
    left: 50%;
    margin-left: -14px;
    background-color: #b80000;
}

#Abouttitle h1:after {
    width: 100px;
    height: 1px;
    display: block;
    content: "";
    position: relative;
    margin-top: 25px;
    left: 50%;
    margin-left: -50px;
    background-color: #b80000;
}

#MardiGrasParade {
    width: 250px;
    float: right;
    margin-left: 10px;
    border: 2px groove #f2cc0f;
    transition: width 1.5s;
}

#MardiGrasParade:hover {
    width: 350px;
    cursor: pointer;
}

#TheCarnival {
    width: 250px;
    float: left;
    margin-right: 10px;
    border: 2px groove #f2cc0f;
    transition: width 1.5s;
}

#TheCarnival:hover {
    width: 350px;
    cursor: pointer;
}

#LaToyaCantrellImg {
    width: 220px;
    height: 315px;
}

#LaToyaCantrellImg:hover {
    cursor: pointer;
}

h1 {
    border: 2px solid #0d0d0d;
    text-align: center;
    font-family: 'Pattaya';
    padding: 10px;
    margin: 5px;
    background-color: #f2f2f2;
    color: rgb(148, 83, 166, 0.7);
    line-height: 1.5;
}

h4 {
    text-align: left;
    font-family: 'Henny Penny';
    padding: 10px;
    margin: 5px 10px 5px 10px;
    background-color: #f2f2f2;
    color: rgb(148, 83, 166, 0.7);
    border-bottom: 1px solid #0d0d0d;
    line-height: 1.5;
}

h5 {
    background-color: #f2f2f2;
}

.info {
    border: 2px solid #8cbf3f;
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2vw;
    padding: 10px;
    margin: 5px 10px 5px 10px;
    background-color: #f2f2f2;
    line-height: 1.5;
}

table {
    border: 1px solid #a2a9b1;
    border-spacing: 3px;
    background-color: #f8f9fa;
    color: black;
    margin: 0.5em 0.7em 0 1em;
    padding: 0.2em;
    float: right;
    clear: right;
    font-size: 88%;
    line-height: 1.5em;
    width: 22em;
    text-align: center;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(13, 13, 13, 0.95);
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f2cc0f;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #f2f2f2;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.the-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2cc0f;
}

.the-footer .social {
    text-align: center;
    padding-bottom: 10px;

}

.the-footer .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #f2cc0f;
    color: #0d0d0d;
    transition-delay: 0.5s;
}

.the-footer .social>a:hover {
    opacity: 0.5;
}

.the-footer .copyright {
    text-align: center;
    font-size: 13px;
    color: #9453a6;
    margin-bottom: 0;
}