* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    border: 2px solid #9453a6;
}

.navbar {
    background-color: #f2cc0f;
    margin-bottom: 0;
}

.navbar ul li {
    float: left;
    margin: 30px 0px 0px 30px;
}

.navbar ul li a {
    color: #9453a6;
    display: block;
    width: 100px;
    border: 1px solid #0d0d0d;
    border-radius: 12px;
    text-align: center;
    font-size: 1.2rem;
    text-decoration: none;
    line-height: 2.2;
}

#mardiGrasIcon {
    width: 90px;
    height: 90px;
    float: left;
    margin: 10px 20px 0px 10px;
}

.title h1 {
    font-size: 30px;
    text-align: center;
    line-height: 1.5em;
    padding-bottom: 45px;
    font-family: 'Henny Penny';
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #0d0d0d;
}


.title h1:before {
    position: absolute;
    left: 0;
    width: 60%;
    left: 50%;
    margin-left: -30%;
    margin-top: 65px;
    height: 1px;
    content: "";
    background-color: #f2cc0f;
    z-index: 4;
}

.title h1:after {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 50%;
    content: '\00a7';
    font-size: 30px;
    line-height: 40px;
    color: #0d0d0d;
    font-weight: 400;
    z-index: 5;
    display: block;
    background-color: #f2f2f2;
}

.item {
    height: 700px;
    margin: auto;
    text-align: center;
}

.figure-img {
    height: 670px;
}

.figure-caption {
    text-align: center;
    font-size: 2rem;
    line-height: 2.2;
    background-color: rgb(148, 83, 166, 0.6);
    color: #0d0d0d;
    transition: all 1s ease-in-out;
    opacity: 0;
}

img:hover+.figure-caption {
    transform: translateY(-54px);
    opacity: 1;
}

.Para-Container {
    margin: 10px 10px 10px 10px;
}

#Para-Title {
    height: 70px;
    background-color: rgb(148, 83, 166, 0.7);
}

#Para-Title h1 {
    text-align: center;
    color: #f2f2f2;
    font-size: 16pt;
    font-family: 'Henny Penny';
    line-height: 1.5;
}

.Para-Section {
    border: 1px solid #0d0d0d;
    background-color: #f2f2f2;
    padding: 15px;
}

.Para-Section p {
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    color: #0d0d0d;
    text-align: justify;
    line-height: 1.5;
    column-count: 3;
    column-gap: 45px;
    column-rule: 1px dashed #8cbf3f;
}

.Funders-Container {
    margin: 10px 10px 10px 10px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.card {
    background-color: #f2f2f2;
    border: 1px solid #0d0d0d;
    padding: 10px;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
}

.card-img-top {
    height: 200px;
}

.card-title {
    text-align: justify;
    font-size: 12pt;
    font-family: 'Roboto', sans-serif;
    color: #0d0d0d;
}

.card-text {
    height: 170px;
}

.btn-primary {
    background-color: #8cbf3f;
    color: #f2f2f2;
    transition: all 1s ease-out;
    opacity: 2;
}

.btn-primary:hover {
    background-color: #9453a6;
    color: #0d0d0d;
    transform: translateX(30px);
    opacity: 1;

}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(13, 13, 13, 0.95);
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f2cc0f;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #f2f2f2;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #f2f2f2;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.the-footer {
    width: 100%;
    bottom: 0;
    padding: 10px;
    background-color: #f2f2f2;
    border: 1px solid #f2cc0f;
}

.the-footer .social {
    text-align: center;
    padding-bottom: 10px;

}

.the-footer .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #f2cc0f;
    color: #0d0d0d;
    transition-delay: 0.5s;
}

.the-footer .social>a:hover {
    opacity: 0.5;
}

.the-footer .copyright {
    text-align: center;
    font-size: 13px;
    color: #9453a6;
    margin-bottom: 0;
}

@media (max-width:575px) {
    .navbar-toggler {
        margin-left: 340px;
    }


    #mardiGrasIcon {
        /* display: none; */
        width: 70px;
        height: 70px;
        margin-top: 0px;
    }

    .navbar ul li {
        width: 100vw;
        float: none;
        margin: 0px 0px 0px 0px;
    }

    .navbar ul li a {
        border: none;
        font-size: 1.2em;
    }
}